amqp==5.3.1
annotated-types==0.7.0
asgiref==3.8.1
billiard==4.2.1
camel-converter==4.0.1
celery==5.4.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
Django==5.1.14
django-debug-toolbar==5.0.1
django-mathfilters==1.0.0
django-redis==5.4.0
idna==3.10
kombu==5.4.2
meilisearch==0.34.0
mysqlclient==2.2.7
prompt_toolkit==3.0.50
pycryptodome==3.21.0
pydantic==2.10.6
pydantic_core==2.27.2
pyparsing==3.2.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.1
redis==5.2.1
requests==2.32.3
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
vine==5.1.0
w3lib==2.3.1
wcwidth==0.2.13
