asgiref==3.4.1
certifi==2021.10.8
charset-normalizer==2.0.7
Django==3.2.8
django-debug-toolbar==3.2.2
django-mathfilters==1.0.0
idna==3.3
mysqlclient==2.0.3
python-dotenv==0.19.1
pytz==2021.3
requests==2.26.0
sqlparse==0.4.2
urllib3==1.26.7
