{% extends "base.html" %}
{% load mathfilters %}
{% load tags %}
{% block title %}API documentation{% endblock title %}
{% block content %}

<div class="row">
	<p class="lead">API documentation</p>
	<hr>
	<p>Keep in mind that this is very unfinished and that breaking changes are bound to happen.</p>
</div>

<div class="row">
	<b>GET /api/v1/counts/</b>
	<p>Returns the statistics returned on the homepage.</p>
</div>

<div class="row">
	<b>GET /api/v1/level/{level_id}/ <i>or</i> GET /api/v1/level/{level_id}/brief</b> 
	<p>Returns informations about the level and its level records. Do note that for some fields it is not consistent between records whether they return Null for their default values or the actual values themselves.
	<br>Returns <code>{"success": false}</code> if the given level does not have any records.</p>
</div>

<div class="row">
	<b>GET /api/v1/user/{user_id}/ <i>or</i> GET /api/v1/user/{user_id}/brief</b> 
	<p>Returns informations about the user and its user records.
	<br>Returns <code>{"success": false}</code> if the given user does not have any records.</p>
</div>

<div class="row">
	<b>GET /api/v1/date/level/{level_id}/</b>
	<p>Returns the closest available date estimations for a given level ID.</p>
</div>

<div class="row">
	<b>GET /api/v1/search/level/advanced/</b>
	<p>Uses the following GET parameters (all optional):<br>
		<code>query</code>: The search query text<br>
		<code>limit</code>: Amount of levels per page, max is 1000<br>
		<code>offset</code>: Amount of levels to offset search results by - usually recommended to be a multiple of limit<br>
		<code>sort</code>: Sort parameters separated by <code>,</code> - example: <code>cache_difficulty:asc,cache_downloads:desc</code><br>
		<code>filter</code>: Filters in SQL-like format - example: <code>online_id < 1000 AND (cache_filter_difficulty = 5 OR cache_likes >= 100)</code>
	<br>AND/OR clauses must be uppercase, see search output or level brief output to see filterable/sortable parameters.</p>
</div>
{% endblock %}