{% extends "base.html" %}
{% block title %}Daily Levels{% endblock title %}
{% block content %}
<style>
td > a:first-child {
	display: block;
	text-decoration: none;
	color: inherit;
	z-index: 0;
	padding: .5rem !important;
}
td > a:first-child:focus {
	outline: 0;
}
td {
	padding: 0px !important;
}
tr:hover, tr:focus-within {
	background: #f2f3ff;
	outline: none;
}
</style>
<div class="row">
	<p class="lead">Showing all daily levels</p>
</div>

<div class="row pt-0">

	<ul class="nav nav-tabs" id="tabList" role="tablist">
		
	</ul>
	<div class="tab-content" id="tabContent" style="padding-left: 0px; padding-right: 0px">
		
	</div>

</div>

<script type="text/javascript">
	function loadTabs(dailies) {
		const sortedEntries = Object.entries(dailies).sort(([keyA], [keyB]) => {
			const isNumA = !isNaN(keyA);
			const isNumB = !isNaN(keyB);

			if (isNumA && !isNumB) return 1;  // Numbers go after letters
			if (!isNumA && isNumB) return -1; // Letters come first
			return !keyA.localeCompare(keyB, undefined, { numeric: true });
		});

		for(let [year, content] of sortedEntries) {
			if(content.filter(level => !level.cache_daily_date).length == 0) {
				content.sort((a, b) => {
					return new Date(a.cache_daily_date) - new Date(b.cache_daily_date)
				})
			}
		}

		let len = Object.keys(dailies).length
		let tabList = ""
		for(let [idx, [year, content]] of Object.entries(sortedEntries)) {
			tabList += `<li class="nav-item" role="presentation">
			<button class="nav-link ${idx == len - 1 ? "active" : ""} ${content.length > 0 ? "" : "disabled"}" id="y${year}-tab" data-bs-toggle="tab" data-bs-target="#y${year}" type="button" role="tab" aria-controls="y${year}" aria-selected="${idx == len - 1 ? "true" : ""}">${year}</button>
			</li>`
		}

		$('#tabList').html(tabList)

		let tabContent = ""
		for(let [idx, [year, content]] of Object.entries(sortedEntries.reverse())) {

			
			tabContent += `<div class="tab-pane fade ${idx == 0 ? "show active" : ""}" id="y${year}" role="tabpanel" aria-labelledby="y${year}-tab">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>Date</th>
							<th>ID</th>
							<th>Name</th>
							<th>Difficulty</th>
							<th>Creator</th>
							<th>Data Available</th>
						</tr>
					</thead>
					<tbody>`

			let lastIdx = 0
			for(let level of content) {
				if(lastIdx != 0 && level.cache_daily_id != lastIdx + 1) {
					while(lastIdx != 0 && level.cache_daily_id != lastIdx + 1 && lastIdx < level.cache_daily_id) {
						lastIdx++
						fakeLevel = {
							cache_daily_id: lastIdx,
							cache_daily_date: null,
							online_id: null,
							cache_level_name: null,
							cache_filter_difficulty: null,
							cache_stars: null,
							cache_length: null,
							cache_username: null,
							cache_level_string_available: false,
							is_test_daily: false,
							is_placeholder: true
						}
						tabContent += renderTab(fakeLevel)
					}
				}
				tabContent += renderTab(level)
				lastIdx = level.cache_daily_id
			}
				tabContent += `</tbody>
				</table>
			</div>`
		}
		$('#tabContent').html(tabContent)
	}

	function renderTab(level) {
		let linkStart = level.online_id ? `<a href="/level/${level.online_id}/">` : "<a>"
		let linkEnd = level.online_id ? `</a>` : "</a>"

		return `<tr ${level.is_test_daily ? 'style="background-color: khaki;" aria-label="This is a test daily level"' : ''} ${level.is_placeholder ? 'style="background-color: pink;" aria-label="This daily level is unknown"' : ''}>
					<td>${linkStart}${level.cache_daily_id}${linkEnd}</td>
					<td>${linkStart}${!level.cache_daily_date ? "" : new Date(level.cache_daily_date)?.toLocaleDateString("en-US", { month: 'short', day: 'numeric', year: 'numeric', timeZone: 'CET' })}${linkEnd}</td>
					<td>${linkStart}${level.online_id ? level.online_id : "Unknown"}${linkEnd}</td>
					<td>${linkStart}${escapeHtml(level.cache_level_name ? level.cache_level_name : "")}${linkEnd}</td>
					<td>${linkStart}${level.online_id ? `${print_filter_difficulty(level.cache_filter_difficulty)} (${display_number(level.cache_stars)}${star_character(level.cache_length)})` : ""}${linkEnd}</td>
					<td>${linkStart}${level.cache_username ? escapeHtml(level.cache_username) : "-"}${linkEnd}</td>
					<td>${linkStart}${level.cache_level_string_available ? "✅" : "❌"}${linkEnd}</td>
				</tr>`
	}

	$.getJSON('/api/v1/daily/current_year/', (result) => {
		loadTabs(result)
		$.getJSON('/api/v1/daily/', (result) => {
			loadTabs(result)
		});
	});
</script>
{% endblock %}