{% extends "base.html" %}
{% block title %}Date Estimator{% endblock title %}
{% block content %}

<div class="row">
	<div class="col mb-3">
		<div class="card mt-1">
			<div class="card-header lead">
				Level ID to date
			</div>
			<div class="card-body">
				<form id="estimator">
					<div class="mb-3">
						<label for="online_id" class="form-label">Level ID</label>
						<input class="form-control" type="text" id="online_id" name="online_id">
					</div>
					<button type="submit" class="btn btn-primary">Estimate</button>
				</form>
			</div>
		</div>
		<div class="card mt-3">
			<div class="card-header lead">
				Date to level ID
			</div>
			<div class="card-body">
				<form id="date-to-id-estimator">
					<div class="mb-3">
						<label for="online_date" class="form-label">Date</label>
						<input class="form-control" type="date" id="online_date" name="online_date" min="2013-01-01">
					</div>
					<button type="submit" class="btn btn-primary">Estimate</button>
				</form>
			</div>
		</div>
	</div>
	<div class="col mb-3">
		<div class="card mt-1">
			<div class="card-header lead">
				Results
			</div>
			<div class="card-body" id="result-card">
				<span id="result-pane"></span>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	function onLoadComplete(result) {
    	$('#result-pane').remove();
    	result_string = "";
    	if(result["low"])
    			result_string += `<p><b>Level ID: ${result["low"]["online_id"]}</b>
				<br>Estimated date: ${result["low"]["estimation"]}</p>`;

		if(result["high"])
    			result_string += `<p><b>Level ID: ${result["high"]["online_id"]}</b>
				<br>Estimated date: ${result["high"]["estimation"]}</p>`;

		if(result_string == "") result_string = "<p>An error has occured while loading estimates.</p>";

		if(result["approx"])
				result_string = `<p>Interpolated exact estimate:</p>
				<p><b>Level ID: ${result["approx"]["online_id"]}</b>
				<br>Estimated date: ${result["approx"]["estimation"]}</p>
				<details>
					<summary>Closest available estimates:</summary>
					<p>${result_string}</p>
				</details>`
		else
				result_string = `<p>Closest available estimates:</p>
				<p>${result_string}</p>`

		$('#result-card').append(`
			<span id="result-pane">
				${result_string}
			</span>`);
	}

	function onLoadFailed() {
		$('#result-pane').remove();
    	$('#result-card').append(`
			<span id="result-pane">
				<p>Estimates failed to load.</p>
			</span>`);
	}

	//add listener for first form
	const form  = document.getElementById('estimator');

	form.addEventListener('submit', (event) => {
	    event.preventDefault();
	    $('#result-pane').remove();
	    $('#result-card').append(`
			<span id="result-pane">
				<p>Loading...</p>
			</span>`);

	    online_id = form.elements['online_id'];
	    $.getJSON(`/api/v1/date/level/${online_id.value}/`, (result) => onLoadComplete(result))
		.fail(() => this.onLoadFailed());
	});

	//add listener to second form
	const dateToId = document.getElementById('date-to-id-estimator');

	dateToId.addEventListener('submit', (event) => {
	    event.preventDefault();
	    $('#result-pane').remove();
	    $('#result-card').append(`
			<span id="result-pane">
				<p>Loading...</p>
			</span>`);

	    online_date = dateToId.elements['online_date'];
	    $.getJSON(`/api/v1/date/date/${online_date.value}/`, (result) => onLoadComplete(result))
		.fail(() => this.onLoadFailed());
	});

	
</script>
{% endblock %}