{% extends "base.html" %}
{% block title %}Date Estimator{% endblock title %}
{% block content %}

<div class="row">
	<div class="col mb-3">
		<div class="card mt-1">
			<div class="card-header lead">
				ID to date
			</div>
			<div class="card-body">
				<form id="estimator">
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="idType" id="levelIDCheck" checked value="level">
						<label class="form-check-label" for="levelIDCheck">
							Level ID
						</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="idType" id="userIDCheck" value="user">
						<label class="form-check-label" for="userIDCheck">
							User ID
						</label>
					</div>
					<div class="mb-3 mt-2">
						<input class="form-control" type="number" id="online_id" name="online_id">
					</div>
					<button type="submit" class="btn btn-primary">Estimate</button>
				</form>
			</div>
		</div>
		<div class="card mt-3">
			<div class="card-header lead">
				Date to level ID
			</div>
			<div class="card-body">
				<form id="date-to-id-estimator">
					<div class="mb-3">
						<label for="online_date" class="form-label">Date</label>
						<input class="form-control" type="date" id="online_date" name="online_date" min="2013-01-01">
					</div>
					<button type="submit" class="btn btn-primary">Estimate</button>
				</form>
			</div>
		</div>
        <div class="card mt-3">
            <div class="card-header lead">
                Timestamp to level ID
            </div>
            <div class="card-body">
                <form id="timestamp-to-id-estimator">
                    <div class="mb-3">
                        <label for="online_timestamp" class="form-label">Timestamp</label>
                        <input class="form-control" type="number" id="online_timestamp" name="online_timestamp" min="1356998400">
                    </div>
                    <button type="submit" class="btn btn-primary">Estimate</button>
                </form>
            </div>
        </div>
	</div>
	<div class="col mb-3">
		<div class="card mt-1">
			<div class="card-header lead">
				Results
			</div>
			<div class="card-body" id="result-card">
				<span id="result-pane"></span>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	function onLoadComplete(result) {
    	$('#result-pane').remove();
    	result_string = "";
    	if(result["low"])
    			result_string += `<p><b>Level ID: ${result["low"]["online_id"]}</b>
				<br>Estimated date: ${result["low"]["estimation"]}</p>`;

		if(result["high"])
    			result_string += `<p><b>Level ID: ${result["high"]["online_id"]}</b>
				<br>Estimated date: ${result["high"]["estimation"]}</p>`;

		if(result_string == "") result_string = "<p>An error has occured while loading estimates.</p>";

		if(result["approx"])
				result_string = `<p>Interpolated exact estimate:</p>
				<p><b>Level ID: ${result["approx"]["online_id"]}</b>
				<br>Estimated date: ${result["approx"]["estimation"]}</p>
				<details>
					<summary>Closest available estimates:</summary>
					<p>${result_string}</p>
				</details>`
		else
				result_string = `<p>Closest available estimates:</p>
				<p>${result_string}</p>`

		$('#result-card').append(`
			<span id="result-pane">
				${result_string}
			</span>`);
	}

	function onUserIDLoadComplete(result) {
		$('#result-pane').remove();
		$('#result-card').append(`
			<span id="user-id-result-pane">
				<p><b><span style="color: red;">Warning:</span></b> User ID estimator may be off by 2+ weeks.<br>
				<b>Estimated potential first level ID:</b> ${result["approx"]}</p>
				<hr>
			</span>
			<span id="result-pane">
				Loading, stage 2...
			</span>`);
		estimateLevelID(result["approx"]);
	}

	function onLoadFailed() {
		$('#result-pane').remove();
    	$('#result-card').append(`
			<span id="result-pane">
				<p>Estimates failed to load.</p>
			</span>`);
	}

	//add listener for first form
	const form  = document.getElementById('estimator');

	function estimateLevelID(id) {
		$.getJSON(`/api/v1/date/level/${id}/`, (result) => onLoadComplete(result))
			.fail(() => this.onLoadFailed());
	}

	function estimateUserID(id) {
		$.getJSON(`/api/v1/date/user/${id}/`, (result) => onUserIDLoadComplete(result))
			.fail(() => this.onLoadFailed());
	}

	function showLoading() {
		$('#user-id-result-pane').remove();
		$('#result-pane').remove();
		$('#result-card').append(`
			<span id="result-pane">
				<p>Loading...</p>
			</span>`);
	}

	form.addEventListener('submit', (event) => {
	    event.preventDefault();
	    showLoading();

	    online_id = form.elements['online_id'].value;
		if (form.elements['idType'].value == "user") {
			estimateUserID(online_id);
		} else {
			estimateLevelID(online_id);
		}

	});

	//add listener to second form
	const dateToId = document.getElementById('date-to-id-estimator');

	dateToId.addEventListener('submit', (event) => {
	    event.preventDefault();
	    showLoading();

	    online_date = dateToId.elements['online_date'];
	    $.getJSON(`/api/v1/date/date/${online_date.value}/`, (result) => onLoadComplete(result))
		.fail(() => this.onLoadFailed());
	});

    const timestampToId = document.getElementById('timestamp-to-id-estimator');

    timestampToId.addEventListener('submit', (event) => {
        event.preventDefault();
	    showLoading();

        online_timestamp = timestampToId.elements['online_timestamp'];
        $.getJSON(`/api/v1/date/timestamp/${online_timestamp.value}/`, (result) => onLoadComplete(result))
            .fail(() => this.onLoadFailed());
    });



</script>
{% endblock %}