{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block content %}
<div class="row">
	<p class="lead">Welcome</p>
</div>
<div class="row">
	<div class="col mb-3">
		<div class="card">
			<div class="card-header lead">
				Statistics
			</div>
			<div class="card-body">
				<table class="table">
					<tbody>
						<tr>
							<td>Levels in our database:</td>
							<td><span id="level-count"></span></td>
						</tr>
						<tr>
							<td>Songs in our database:</td>
							<td><span id="song-count"></span></td>
						</tr>
						<tr>
							<td>Submitted save files:</td>
							<td><span id="save-count"></span></td>
						</tr>
						<tr>
							<td>Processed server requests:</td>
							<td><span id="request-count"></span></td>
						</tr>
						<tr>
							<td>Stored level strings:</td>
							<td><span id="level-string-count"></span></td>
						</tr>
						<tr>
							<td>Element 111 RG records:</td>
							<td><span id="rg-count"></span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col mb-3">
		<div class="card">
			<div class="card-header lead">
				Recently added levels
			</div>
			<div class="card-body">
				<table class="table">
					<tbody>
						{% for record in recently_added %}
						<tr>
							<td>{{ record.cache_level_name }}</td>
							<td><a href="{% url 'level' record.online_id %}">{{ record.online_id }}</a></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col mb-3">
		<div class="card">
			<div class="card-header lead">
				Recently updated levels
			</div>
			<div class="card-body">
				<table class="table">
					<tbody>
						{% for record in recently_updated %}
						<tr>
							<td>{{ record.level_name }}</td>
							<td><a href="{% url 'level' record.level.online_id %}">{{ record.level.online_id }}</a></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$.getJSON('/api/v1/counts', function(counts) {
		$('#level-count').append(counts.level_count);
		$('#song-count').append(counts.song_count);
		$('#save-count').append(counts.save_count);
		$('#request-count').append(counts.request_count);
		$('#level-string-count').append(counts.level_string_count);
		$('#rg-count').append(counts.rg_count);
	});
</script>
{% endblock %}