{% extends "base.html" %}
{% load mathfilters %}
{% load tags %}
{% block title %}{{ first_record.level_name }}{% endblock title %}
{% block content %}
<style>
	.round-border {
		border-radius: 5px;
	}
</style>
<div class="row">
	<p class="lead">Showing data for level {{ online_id }}</p>
	{% if first_record.level.comment %}
	  <div class="alert alert-info" role="alert">
	    {{ first_record.level.comment }}
	  </div>
	{% endif %}
</div>
<div class="row gap-1">
	<div class="col round-border" style="background-color: #2c3034">
		<div class="py-2">
			<table class="table table-dark table-striped">
				<tr>
					<th>Level Name</th>
					<td class="align-right">{{ first_record.level_name }}</td>
				</tr>
				<tr>
					<th>Author</th>
					<td class="align-right">{{ first_record.username }}</td>
				</tr>
				<tr>
					<th>Downloads</th>
					<td class="align-right">{{ first_record.downloads }}</td>
				</tr>
				<tr>
					<th>Likes</th>
					<td class="align-right">{{ first_record.likes }}</td>
				</tr>
				<tr>
					<th>Difficulty</th>
					<td class="align-right">{% difficulty first_record.rating_sum first_record.rating first_record.demon first_record.auto first_record.demon_type %}</td>
				</tr>
				<tr>
					<th>Stars</th>
					<td class="align-right">{% display_number first_record.stars %}</td>
				</tr>
				<tr>
					<th>Stored level records</th>
					<td class="align-right">{{ records_count }}</td>
				</tr>
				<tr>
					<th>Stored level strings</th>
					<td class="align-right">{{ level_string_count }}</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="col-md-8">
		<img class="round-border" style="max-width:100%;max-height:100%" src="https://cvolton.eu/gdhistory_placeholder2.webp">
	</div>
</div>
<div class="row pt-2">

	<ul class="nav nav-tabs" id="myTab" role="tablist">
		{% for year in years %}
		<li class="nav-item" role="presentation">
		<button class="nav-link {% if year not in level_records %}disabled{% endif %} {% if forloop.last %}active{% endif %}" id="y{{year}}-tab" data-bs-toggle="tab" data-bs-target="#y{{year}}" type="button" role="tab" aria-controls="y{{year}}" aria-selected="{% if forloop.last %}true{% endif %}">{{year}}</button>
		</li>
		{% endfor %}
	</ul>
	<div class="tab-content" id="myTabContent" style="padding-left: 0px; padding-right: 0px">
		{% for year in level_records %}
		<div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="y{{year}}" role="tabpanel" aria-labelledby="y{{year}}-tab">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Saved on</th>
						<th>Source</th>
						<th>Name</th>
						<th>Downloads</th>
						<th>Likes</th>
						<th>Difficulty</th>
						<!--<th>Stars</th>-->
						<th>Version</th>
						<th>Creator</th>
						<th>Update</th>
						<th>Data Available</th>
					</tr>
				</thead>
				<tbody>
					{% for record in level_records|get_item:year %}
					<tr>
						<td>{{ record.real_date|date:"N j, Y" }}</td>
						<td>{{ record.record_type }}</td>
						<td>{{ record.level_name }}</td>
						<td>{{ record.downloads }}</td>
						{% if record.dislikes %}<td><a data-toggle="tooltip" title="Likes: {{ record.likes }}
Dislikes: {{ record.dislikes}}">{{ record.likes|sub:record.dislikes }}</a></td>{% else %}<td>{{ record.likes }}</td>{% endif %}
						<td><a data-toggle="tooltip" title="Rating sum: {{ record.rating_sum }}
Rating denominator: {{ record.rating }}">{% difficulty record.rating_sum record.rating record.demon record.auto record.demon_type %} ({% display_number record.stars %}*)</a></td>
						<!--<td>{{ record.stars }}</td>-->
						<td>{{ record.level_version }}</td>
						<!--<td><span style="color: {% if record.account_id %}DarkGoldenRod{% else %}darkgreen{% endif %}">{{ record.username }}</span></td>-->
						<td>{% if record.username %}{{ record.username }}{% else %}<a data-toggle="tooltip" title="Some sources do not provide the creator's username.">-</a>{% endif %}{% if record.account_id %}<a data-toggle="tooltip" title="Registered">✔️</a>{% endif %}</td>
						<td>{% game_version record.game_version %}</td>
						<td>{% if record.level_string %}✅{% else %}❌{% endif %}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% endfor %}
	</div>

</div>
<!-- {{ first_record.level.pk }} -->
{% endblock %}