{% extends "base.html" %}
{% include "level_record.html" %}
{% load mathfilters %}
{% load static %}
{% load tags %}
{% block title %}{{ first_record.level_name }}{% endblock title %}

{% block description %}By {% if first_record.real_user_record %}{% user_record_to_username first_record.real_user_record %}{% else %}Unknown{% endif %} - {% difficulty first_record.rating_sum first_record.rating first_record.demon first_record.auto first_record.demon_type %} ({% display_number first_record.stars %}{% star_character first_record.length %})
{{ first_record.downloads }} downloads | {% if first_record.dislikes %}{{ first_record.likes|sub:first_record.dislikes }}{% else %}{{ first_record.likes }}{% endif %} likes
{{ records_count }} records | {{ level_string_count }} versions
{% endblock description %}

{% block content %}
<style>
	.round-border {
		border-radius: 5px;
	}
	.highlighted-record {
		background-color: #fff3cd;
	}
</style>
<div class="row">
	{% if comment %}
	  <div class="alert alert-info" role="alert">
	    {{ comment }}
	  </div>
	{% endif %}
	<p class="lead">Showing data for level {{ online_id }}<span id="as-seen-on"></span></p>
</div>
<div class="row gap-1">
	<div class="col round-border" style="background-color: #2c3034">
		<div class="py-2">
			<table class="table table-dark table-striped">
				<tr>
					<th>Level Name</th>
					<td class="align-right" id="main-level-name"></td>
				</tr>
				<tr>
					<th>Author</th>
					<td class="align-right" id="main-author"></td>
				</tr>
				<tr>
					<th>Downloads</th>
					<td class="align-right" id="main-downloads"></td>
				</tr>
				<tr>
					<th>Likes</th>
					<td class="align-right" id="main-likes"></td>
				</tr>
				<tr>
					<th>Difficulty</th>
					<td class="align-right" id="main-difficulty"></td>
				</tr>
				<tr>
					<th>Featured</th>
					<td class="align-right" id="main-featured"></td>
				</tr>				<tr>
					<th>Length</th>
					<td class="align-right" id="main-length"></td>
				</tr>
				<tr>
					<th>Saved records</th>
					<td class="align-right" id="main-record-count"></td>
				</tr>
				<tr>
					<th>Saved versions</th>
					<td class="align-right" id="main-levelstring-count"></td>
				</tr>
			</table>
		</div>
	</div>
	<div class="col-md-8" style="padding-right:0px">
		<img class="round-border" style="max-width:100%;max-height:100%;aspect-ratio: 16/9;" src="https://cvolton.eu/gdhistory_placeholder2.webp">
	</div>
</div>

<div class="row pt-3" id="main-description">
	<hr />
</div>

<div class="row pt-0">
	<ul class="nav nav-tabs" id="tabList" role="tablist">
		
	</ul>
	<div class="tab-content" id="tabContent" style="padding-left: 0px; padding-right: 0px">

	</div>
</div>

<p id="dupes-message"></p>
<p id="blanks-message"></p>

<script type="text/javascript">
	const urlParams = new URLSearchParams(window.location.search)

	let showDupes = urlParams.has('dupes')
	let levelData = {}
	let recordsByDownloads = []
	let recordsByYears = {}
	let recordsByDecompressedSha = []
	let tabs = []
	let forcedRecord = {{ record_id|default:"null" }}
	let displayedRecord = null
	let loadDupesStartFrom = 0

	startLoading()
	startLoadingRecords()

	function startLoading() {
		$('#main-level-name').text('')
		$.getJSON(`/api/v1/level/{{ online_id }}/record/${forcedRecord ? `${forcedRecord}/` : ""}`, function(result) {
			if(!displayedRecord) displayRecord(result, false, false)
		})
		.fail(function() { 
			paragraph.textContent = 'Failed to load manual record info.'
		});
	}

	function loadAllRecords(fullLoad = true) {
		loadRecords(
			urlParams.has('blanks') ? levelData.records : levelData.records.filter(record => (record.level_version || record.game_version || record.level_name || record.downloads))
		, fullLoad)
	}

	function startLoadingRecords() {
		$.getJSON(`/api/v1/level/{{ online_id }}/`, (result) => {
			levelData = result
			setTimeout(() => loadAllRecords(), 1)
			if(showDupes) setTimeout(() => loadDupes(), 2)
		})
		.fail(function() { 
			$('#main-level-name').text('Failed to load level info.')
		});
	}

	addEventListener("popstate", function (e) {
		window.location.reload()
	})

	function loadWithBlanks(replaceState = false) {
		urlParams.set('blanks', true)
		replaceState ? window.history.replaceState({}, "", `?${urlParams.toString()}`) : window.history.pushState({}, "", `?${urlParams.toString()}`)
		loadRecords(levelData.records)
	}

	function loadDupes() {
		let maxRecords = 500

		$('#dupes-message').html(`<img src="{% static 'loading-grey.svg' %}" width="25px">&nbsp;&nbsp;Loading duplicate records...`)
		$.getJSON(`/api/v1/level/{{ online_id }}/dupes_only/?count=${maxRecords}&start_from=${loadDupesStartFrom}`, (result) => {
			levelData.dupes_shown = true
			levelData.records.push(...result.records)

			if(result.records.length == maxRecords) {
				setTimeout(() => loadAllRecords(false), 1)
				setTimeout(() => {
					loadDupesStartFrom = result.records[result.records.length - 1].id
					loadDupes()
				}, 2)
			} else {
				loadAllRecords(true)
			}
		})
		.fail(function() {
			loadAllRecords(true)
			$('#dupes-message').html(`Failed to load duplicate records. <a href="?dupes=true">Retry</a>`)
		});
	}

	function loadRecords(records, fullLoad = true) {
		let unsortedRecordsByDecompressedSha = {}

		recordsByDownloads = records.sort((a, b) => b.downloads - a.downloads)
		let bestRecord = null
		let waitForRecord = false
		if(forcedRecord) {
			bestRecord = recordsByDownloads.find(record => record.id == forcedRecord)
			if(!bestRecord) {
				if(!urlParams.has('blanks')) {
					return loadWithBlanks(true)
				} else if(!levelData.dupes_shown && !showDupes) {
					forceLoadDupes(true)
					waitForRecord = true
				} else if(!showDupes) {
					alert("Record not found.")
				}
			}
		}
		if(!bestRecord && !waitForRecord) {
			bestRecord = recordsByDownloads[0]
		}

		recordsByYears = records.reduce((acc, record) => {
			date = new Date(record.real_date)
			if(!acc[date.getFullYear()]) acc[date.getFullYear()] = []
			acc[date.getFullYear()].push(record)
			return acc
		}, {})

		years = Object.keys(recordsByYears)
		years.sort()
		for(let i = years[0]; i < years[years.length - 1]; i++) {
			if(!recordsByYears[i]) recordsByYears[i] = []
		}

		for(let record of records) {
			if(!record.level_string_info) continue
			sha = record.level_string_info.decompressed_sha256 ? record.level_string_info.decompressed_sha256 : record.level_string_info.sha256
			if(unsortedRecordsByDecompressedSha[sha] && unsortedRecordsByDecompressedSha[sha].rel_date < record.real_date) continue
			unsortedRecordsByDecompressedSha[sha] = record

			recordsByDecompressedSha = Object.values(unsortedRecordsByDecompressedSha).sort((a, b) => new Date(b.real_date) - new Date(a.real_date))
		}

		prepareTabs()
		setTimeout(() => {
			loadTabs(fullLoad)
			if(!waitForRecord && fullLoad) showDupesMessage()
			if(!waitForRecord) displayRecord(bestRecord, false, !!forcedRecord)
		}, 17)

		if(!waitForRecord) {
			displayRecord(bestRecord, false, !!forcedRecord)
		}
	}

	function showDupesMessage() {
		if(levelData.dupes_present && !levelData.dupes_shown) {
			$('#dupes-message').html(`Possibly duplicate records were hidden. <a href="?dupes=true" onclick="forceLoadDupes(); return false;">Show hidden records</a>`)
		} else if(levelData.dupes_shown) {
			$('#dupes-message').html(``)
		}
	}

	function forceLoadDupes(replaceState = false) {
		urlParams.set('dupes', true)
		replaceState ? window.history.replaceState({}, "", `?${urlParams.toString()}`) : window.history.pushState({}, "", `?${urlParams.toString()}`)
		loadDupes()
	}

	function displayRecord(bestRecord, changeUrl = true, asSeenOn = true) {
		displayedRecord = bestRecord
		if(changeUrl) {
			history.pushState({}, "", `/level/${levelData.online_id}/${bestRecord.id}/${window.location.search}`)
		}
		if(asSeenOn) {
			$('#as-seen-on').html(bestRecord.real_date ? `, as seen on ${record_date(bestRecord.real_date)} ${record_time(bestRecord.real_date)}` : ``)
		}
		$('#main-level-name').text(bestRecord.level_name)
		$('#main-author').html(bestRecord.real_user_record ? `<a href="{% url 'search' %}?userID=${bestRecord.real_user_record.user_id}">${bestRecord.real_user_record.username ? bestRecord.real_user_record.username : cached_username(bestRecord.cached_user_info)}</a>` : "Unknown")
		$('#main-downloads').text(bestRecord.downloads)
		$('#main-likes').text(bestRecord.likes)
		$('#main-difficulty').text(difficulty_text(bestRecord))
		$('#main-featured').text(print_featured(bestRecord))
		$('#main-length').text(level_length(bestRecord.length))
		if(recordsByDownloads.length > 0) {
			$('#main-record-count').text(recordsByDownloads.length)
			$('#main-levelstring-count').text(levelData.level_string_count)
		}

		displayDescription(bestRecord)
		highlightRecord(bestRecord)
	}

	function displayDescription(bestRecord) {
		let descriptionHtml = `<p>${bestRecord.descriptionEncoded ? "<b>Warning:</b> Description decoding failed<br>" : ""}
			<b>Description:</b> ${bestRecord.description ? bestRecord.description : "(No description provided.)"}<br>
			<b>Song:</b> ${bestRecord.song && bestRecord.song.online_id != 0 ? `${bestRecord.song.song_name} by ${bestRecord.song.artist_name} (ID: ${bestRecord.song.online_id})` : `${official_song_name(bestRecord.official_song, bestRecord.game_version)} (ID: ${bestRecord.official_song})`}</p>`
		
		descriptionHtml += `<div class="collapse" id="collapseDescription">
			${bestRecord.song && bestRecord.song.online_id != 0 && bestRecord.official_song > 0 ? `<b>Official Song:</b> ${official_song_name(bestRecord.official_song, bestRecord.game_version)} (ID: ${bestRecord.official_song})<br>` : ""}
			<b>Password:</b> ${level_password(bestRecord.password)}<br>
			${bestRecord.objects_count ? `<b>Objects:</b> ${bestRecord.objects_count}<br>` : ""}
			<b>Coins:</b> ${display_number(bestRecord.coins)} ${bestRecord.coins_verified ? "(Verified)" : ""}<br>
			${bestRecord.requested_stars ? `<b>Requested Stars:</b> ${bestRecord.requested_stars}<br>` : ""}
			${bestRecord.original ? `<b>Original:</b> ${bestRecord.original}<br>` : ""}
			<b>Feature Score:</b> ${bestRecord.feature_score}<br>
			${bestRecord.seconds_spent_editing > 1 ? `<br><b>Time spent editing:</b> ${working_time(bestRecord.seconds_spent_editing)}` : ""}
			${bestRecord.seconds_spent_editing_copies > 2 ? `<br><b>Time spent editing (copies):</b> ${working_time(bestRecord.seconds_spent_editing_copies)}` : ""}
			${bestRecord.timestamp ? `<br><b>Verification time:</b> ${bestRecord.timestamp} steps (approx. ${approx_verification(bestRecord.timestamp)})` : ""}
			<br>
		</div>`

		descriptionHtml += `<div>
			<a data-bs-toggle="collapse" href="#collapseDescription" aria-expanded="false" aria-controls="collapseDescription">
				More info</a>
			|
			<a href="{% url 'search' %}?original=${levelData.online_id}">
				See copies</a></div>`

		descriptionHtml += "<p></p><hr>"
		$('#main-description').html(descriptionHtml)
	}

	function highlightRecord(record) {
		$('.highlighted-record').removeClass('highlighted-record')
		$(`.row-record-${record.id}`).addClass('highlighted-record')
	}

	function prepareTabs() {
		tabs = []
		if(recordsByDecompressedSha.length > 0) tabs.push({displayName: "Saved Versions", name: "saved-ver", content: recordsByDecompressedSha})
		for(let [year, records] of Object.entries(recordsByYears)) {
			tabs.push({displayName: year, name: year, content: records})
		}
		tabs.push({displayName: "By Downloads", name: "by-downloads", content: recordsByDownloads})
	}

	function loadTabs(fullLoad = true) {
		let tabsHtml = ""
		let tabsContentHtml = ""
		let len = tabs.length
		for(let [idx, tab] of Object.entries(tabs)) {
			tabsHtml += `<li class="nav-item" role="presentation">
			<button class="nav-link ${idx == len - 1 ? "active" : ""} ${tab.content.length > 0 ? "" : "disabled"}" id="y${tab.name}-tab" data-bs-toggle="tab" data-bs-target="#y${tab.name}" type="button" role="tab" aria-controls="y${tab.name}" aria-selected="${idx == len - 1 ? "true" : ""}">${tab.displayName}</button>
			</li>`
		}

		for(let [idx, tab] of Object.entries(tabs.reverse())) {
			tabsContentHtml += `<div class="tab-pane fade ${idx == 0 ? "show active" : ""}" id="y${tab.name}" role="tabpanel" aria-labelledby="y${tab.name}-tab">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Saved on</th>
							<th>Source</th>
							<th>Name</th>
							<th>Downloads</th>
							<th>Likes</th>
							<th>Difficulty</th>
							<!--<th>Stars</th>-->
							<th>Version</th>
							<th>Creator</th>
							<th>Update</th>
							<th>Data Available</th>
						</tr>
					</thead>
					<tbody id="y${tab.name}-content">
					</tbody>
				</table>
			</div>
			`
		}
		$('#tabList').html(tabsHtml)
		$('#tabContent').html(tabsContentHtml)
		for(let [idx, tab] of Object.entries(tabs.reverse())) {
			let tabContent = document.getElementById(`y${tab.name}-content`)
			let content = tab.content
			if(!fullLoad) {
				content = content.slice(0, 20)
			}
			for(let record of content) {
				tabContent.appendChild(renderRecord(record))
			}
		}
	}

	function renderRecord(record) {
		const tr = document.createElement('tr')
		tr.classList.add(`row-record-${record.id}`)

		function td(text, link, tooltip, onclick) {
			const td = document.createElement('td')
			if(link) {
				td.appendChild(make_link(text, link, onclick))
			} else if(tooltip) {
				td.appendChild(make_tooltip(tooltip, text))
			} else {
				td.textContent = text
			}
			return td
		}

		function make_tooltip(title, text) {
			const a = document.createElement('a')
			a.title = title
			a.textContent = text
			return a
		}

		function make_link(text, link, onclick = null) {
			const a = document.createElement('a')
			a.href = link
			a.textContent = text
			if(onclick) a.addEventListener('click', (e) => {
				e.preventDefault()
				e.stopPropagation()
				onclick()
				return false
			})
			return a
		}
		
		function make_small(text, title = null) {
			const small = document.createElement('small')
			small.textContent = text
			if(title) small.title = title
			return small
		}

		tr.appendChild(td(record_date(record.real_date), `/level/${levelData.online_id}/${record.id}/`, null, () => {
			console.log(record.id)
			displayRecord(record)
			//window.scrollTo(0, 0);
		}))

		const tdSource = td(`${record.record_type} `)

		if(record.record_type == "get") {
			tdSource.appendChild(make_small(`(${record.response_get_type})`))
		} else if(record.record_type == "manual") {
			tdSource.appendChild(make_link("🛈", "#", () => {
				showManual(record.manual_submission_id)
				return false
			}))
		}
		tr.appendChild(tdSource)

		tr.appendChild(td(record.level_name))
		tr.appendChild(td(record.downloads))
		tr.appendChild(
			td(record.dislikes ? (record.likes || 0) - record.dislikes : record.likes, 
			null, 
			record.dislikes ? `Likes: ${record.likes} Dislikes: ${record.dislikes}` : null)
		)

		const tdDifficulty = td(difficulty_text(record), null, `Rating sum: ${record.rating_sum}
Rating denominator: ${record.rating}`)
		if(record.feature_score > 0) {
			tdDifficulty.appendChild(make_tooltip("Featured", " ✅"))
		}
		if(record.epic > 0) {
			tdDifficulty.appendChild(make_tooltip(epic_string(record.epic), epic_fires(record.epic, '🔥')))
		}
		tr.appendChild(tdDifficulty)

		tr.appendChild(td(record.level_version))

		let tdCreator = null
		if(record.real_user_record?.username) {
			tdCreator = (td(record.real_user_record.username))
		} else if(record.username && !record.real_user_record) {
			tdCreator = td(record.username)
			tdCreator.appendChild(make_small("❌", "This record does not have a user ID assigned."))
		} else {
			tdCreator = td("-", null, "This record does not provide the creator's username. If one is shown, it comes from other records in the GDHistory system.")
			if(record.cached_user_info) {
				tdCreator.appendChild(make_small(` (${cached_username(record.cached_user_info)})`))
			} else {
				tdCreator.appendChild(make_small("❌", "This record does not have a user ID assigned."))
			}
		}
		if(record.real_user_record?.account_id) {
			tdCreator.appendChild(make_tooltip("Registered", " ✔️"))
		}
		tr.appendChild(tdCreator)

		tr.appendChild(td(game_version(record.game_version)))

		const tdDataAvailable = td("")
		if(record.level_string_available) {
			tdDataAvailable.textContent = "✅ "
			if(levelData.is_public) {
				tdDataAvailable.appendChild(make_link("(.gmd)", `/level/${levelData.online_id}/${record.id}/download/`))
			}
			tdDataAvailable.appendChild(make_tooltip(null, ` - ${print_file_size(record.level_string_info?.file_size)}`))
		} else {
			tdDataAvailable.textContent = "❌"
		}
		tr.appendChild(tdDataAvailable)

		return tr
	}

	addEventListener("popstate", function (e) {
		if(e.state) {
			displayRecord(displayedRecord, false, false)
		}
	})
</script>

<div class="modal" tabindex="-1" id="manualModal">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Manual Record</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="modal-placeholder">Placeholder text for popup.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
	var manualId = 0;

	var manualModal = document.getElementById('manualModal')
	manualModal.addEventListener('show.bs.modal', function (event) {
		var paragraph = document.getElementById('modal-placeholder')
		paragraph.textContent = 'Loading manual record data...'

		$.getJSON(`/api/v1/manual/${manualId}/`, function(result) {
			paragraph.textContent = 'test'
			if(result["success"] === false) {
				paragraph.textContent = 'Manual submission not found.'
			} else {
				paragraph.textContent = ''
				paragraph.appendChild(renderManual(result))
			}
		})
		.fail(function() { 
			paragraph.textContent = 'Failed to load manual record info.'
		});
	})

	function showManual(id) {
		manualId = id;

		var modal = new bootstrap.Modal(manualModal, {})
		modal.show()
	}

	function renderManual(result) {
		const span = document.createElement('span')

		const dateText = document.createElement('b')
		dateText.textContent = 'Date: '
		const dateContent = document.createElement('span')
		dateContent.textContent = result.created
		span.appendChild(dateText)
		span.appendChild(dateContent)
		span.appendChild(document.createElement('br'))

		const commentText = document.createElement('b')
		commentText.textContent = 'Comment: '
		const commentContent = document.createElement('span')
		if(result.comment != "") commentContent.textContent = result.comment
		else commentContent.innerHTML = '<i>(no comment)</i>'
		span.appendChild(commentText)
		span.appendChild(commentContent)
		span.appendChild(document.createElement('br'))

		if(result.parent) {
			span.appendChild(document.createElement('br'))
			const separator = document.createElement('span')
			separator.innerHTML = "<b>Parent record:</b>"
			span.appendChild(separator)
			span.appendChild(document.createElement('br'))
			span.appendChild(renderManual(result.parent))
		}

		return span
	}

</script>
<!-- {{ pk }} -->
{% endblock %}