{% extends "base.html" %}
{% include "level_record.html" %}
{% load mathfilters %}
{% load tags %}
{% block title %}{{ first_record.level_name }}{% endblock title %}

{% block content %}
<style>
	.round-border {
		border-radius: 5px;
	}
</style>
<div class="row">
	<p class="lead">Showing data for level {{ online_id }}{% if record_id %}, as seen on {{ first_record.oldest_created|date:"N j, Y" }}{% endif %}</p>
	{% if first_record.level.comment %}
	  <div class="alert alert-info" role="alert">
	    {{ first_record.level.comment }}
	  </div>
	{% endif %}
</div>
<div class="row gap-1">
	<div class="col round-border" style="background-color: #2c3034">
		<div class="py-2">
			<table class="table table-dark table-striped">
				<tr>
					<th>Level Name</th>
					<td class="align-right">{{ first_record.level_name }}</td>
				</tr>
				<tr>
					<th>Author</th>
					<td class="align-right">{% if first_record.real_user_record %}<a href="{% url 'search' %}?userID={{ first_record.real_user_record.user.online_id }}">{{ first_record.real_user_record.username }}</a>{% else %}Unknown{% endif %}</td>
				</tr>
				<tr>
					<th>Downloads</th>
					<td class="align-right">{{ first_record.downloads }}</td>
				</tr>
				<tr>
					<th>Likes</th>
					<td class="align-right">{{ first_record.likes }}</td>
				</tr>
				<tr>
					<th>Difficulty</th>
					<td class="align-right">{% difficulty first_record.rating_sum first_record.rating first_record.demon first_record.auto first_record.demon_type %} ({% display_number first_record.stars %}*)</td>
				</tr>
				<tr>
					<th>Featured</th>
					<td class="align-right">{% if first_record.feature_score > 0 %}✅{% if first_record.epic %} (Epic){% endif %}{% else %}❌{% endif %}</td>
				</tr>				<tr>
					<th>Length</th>
					<td class="align-right">{% length first_record.length %}</td>
				</tr>
				<tr>
					<th>Saved records</th>
					<td class="align-right">{{ records_count }}</td>
				</tr>
				<tr>
					<th>Saved versions</th>
					<td class="align-right">{{ level_string_count }}</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="col-md-8" style="padding-right:0px">
		<img class="round-border" style="max-width:100%;max-height:100%;aspect-ratio: 16/9;" src="https://cvolton.eu/gdhistory_placeholder2.webp">
	</div>
</div>
<div class="row pt-3">
	<p>
		{% if first_record.description_encrypted %}<b>Warning:</b> Description decoding failed{% endif %}
		<b>Description:</b> {% if first_record.description %}{{ first_record.description }}{% else %}(No description provided.){% endif %}
		<br><b>Song:</b> {% if first_record.song and first_record.song.online_id != 0 %}{{ first_record.song.cache_song_name }} by {{ first_record.song.cache_artist_name }} (ID: {{ first_record.song.online_id }}){% else %}{% song_name first_record.official_song first_record.game_version %} (ID: {{ first_record.official_song }}){% endif %}
		<div class="collapse" id="collapseDescription">
			<b>Password:</b> {% level_password first_record.password %}<br>
			{% if first_record.objects_count %}<b>Objects:</b> {{ first_record.objects_count }}<br>{% endif %}
			<b>Coins:</b> {% display_number first_record.coins %} {% if first_record.coins_verified %}(Verified){% endif %}<br>
			{% if first_record.requested_stars %}<b>Requested Stars:</b> {{ first_record.requested_stars }}<br>{% endif %}
			{% if first_record.original %}<b>Original:</b> {{ first_record.original }}<br>{% endif %}
			<b>Feature Score:</b> {{ first_record.feature_score }}<br>
		</div>
		<a data-bs-toggle="collapse" href="#collapseDescription" aria-expanded="false" aria-controls="collapseDescription">
			More info
		</a>
	</p>
	<hr />
</div>
<div class="row pt-0">

	<ul class="nav nav-tabs" id="myTab" role="tablist">
		{% for year in years %}
		<li class="nav-item" role="presentation">
		<button class="nav-link {% if year not in level_records %}disabled{% endif %} {% if forloop.last %}active{% endif %}" id="y{{year}}-tab" data-bs-toggle="tab" data-bs-target="#y{{year}}" type="button" role="tab" aria-controls="y{{year}}" aria-selected="{% if forloop.last %}true{% endif %}">{% if year == -1 %}Saved Versions{% else %}{{year}}{% endif %}</button>
		</li>
		{% endfor %}
	</ul>
	<div class="tab-content" id="myTabContent" style="padding-left: 0px; padding-right: 0px">
		{% for year in level_records %}
		<div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="y{{year}}" role="tabpanel" aria-labelledby="y{{year}}-tab">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Saved on</th>
						<th>Source</th>
						<th>Name</th>
						<th>Downloads</th>
						<th>Likes</th>
						<th>Difficulty</th>
						<!--<th>Stars</th>-->
						<th>Version</th>
						<th>Creator</th>
						<th>Update</th>
						<th>Data Available</th>
					</tr>
				</thead>
				<tbody>
					{% for record in level_records|get_item:year %}
					<tr>
						<td><a href="{% url 'level' online_id record.pk %}">{{ record.real_date|date:"N j, Y" }}</a></td>
						<td>{{ record.record_type }}{% if record.record_type == "get" %} <small>({{ record.server_response.get_type }})</small>{% endif %}</td>
						<td>{{ record.level_name }}</td>
						<td>{{ record.downloads }}</td>
						{% if record.dislikes %}<td><a data-toggle="tooltip" title="Likes: {{ record.likes }}
Dislikes: {{ record.dislikes}}">{{ record.likes|sub:record.dislikes }}</a></td>{% else %}<td>{{ record.likes }}</td>{% endif %}
						<td><a data-toggle="tooltip" title="Rating sum: {{ record.rating_sum }}
Rating denominator: {{ record.rating }}">{% difficulty record.rating_sum record.rating record.demon record.auto record.demon_type %} ({% display_number record.stars %}*)</a></td>
						<!--<td>{{ record.stars }}</td>-->
						<td>{{ record.level_version }}</td>
						<td>{% if record.real_user_record and record.real_user_record.username %}{{ record.real_user_record.username }}{% else %}<a data-toggle="tooltip" title="Some sources do not provide the creator's username.">-</a>{% endif %}{% if record.real_user_record and record.real_user_record.account_id %} <a data-toggle="tooltip" title="Registered">✔️</a>{% endif %}</td>
						<td>{% game_version record.game_version %}</td>
						<td>{% if record.level_string %}✅ <a href="{% url 'download_record' online_id record.pk %}">(.gmd)</a>{% else %}❌{% endif %}</td>
						<!--<td><a class="btn btn-primary" href="{% url 'level' online_id record.pk %}" role="button">Details</a></td>-->
						<!--<td><a href="{% url 'level' online_id record.pk %}">Details</a></td>-->
						<!-- pk: {{ record.pk }}, levelstring: {{ record.level_string }} -->
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% endfor %}
	</div>

</div>
<!-- {{ first_record.level.pk }} -->
{% endblock %}