{% extends "base.html" %}
{% load mathfilters %}
{% load tags %}
{% block title %}My submissions{% endblock title %}
{% block content %}
<div class="row">
	<p class="lead">My manual submissions</p>
</div>
<div class="row">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>PK</th>
				{% if show_all %}<th>Uploader</th>{% endif %}
				<th>Comment</th>
				<th>Submitted</th>
				<th>Created</th>
				<th>Children</th>
				<th>Levels (direct)</th>
				<th>Levels (all)</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		{% for submission in submissions %}
			<tr>
				<td>{{ submission.pk }}</td>
				{% if show_all %}<td>{{ submission.author.user.username }}</td>{% endif %}
				<td><a data-toggle="tooltip" title="{{ submission.comment }}">{{ submission.comment |truncatechars:50 }}</a></td>
				<td>{{ submission.submitted }}</td>
				<td>{{ submission.created |date:"N j, Y" }}</td>
				<td>{{ submission.get_children_count }}</td>
				<td>{{ submission.get_level_count }}</td>
				<td>{{ submission.get_full_level_count }}</td>
				<td><a href="{% url 'manual' submission.pk %}">Details</a></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}