{% extends "base.html" %}
{% load mathfilters %}
{% load tags %}
{% block title %}My submissions{% endblock title %}
{% block content %}
<style>
td > a:first-child {
	display: block;
	text-decoration: none;
	color: inherit;
	z-index: 0;
	padding: .5rem !important;
}
td > a:first-child:focus {
	outline: 0;
}
td {
	padding: 0px !important;
}
tr:hover, tr:focus-within {
	background: #f2f3ff;
	outline: none;
}
</style>
<div class="row">
	<p class="lead">My submissions</p>
	<p>Click a submission for more details</p>
</div>
<div class="row">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>PK</th>
				{% if show_all %}<th>Uploader</th>{% endif %}
				<th>Submitted</th>
				<th>Created</th>
				<!--<th>Comment</th>-->
				<th>Is Processed</th>
				<th>Player Name</th>
				<th>Player User ID</th>
				<th>Player Account ID</th>
				<th>Binary Version</th>
				<th>Levels<br><small><small>(no&nbsp;blanks)</small></small></th>
				<th>Levels (all)</th>
			</tr>
		</thead>
		<tbody>
		{% for submission in submissions %}
			<tr>
				<td><a href="{% url 'submission' submission.pk %}">{{ submission.pk }}</a></td>
				{% if show_all %}<td><a href="{% url 'submission' submission.pk %}">{{ submission.author.user.username }}</a></td>{% endif %}
				<td><a href="{% url 'submission' submission.pk %}">{{ submission.submitted |date:"N j, Y" }}</a></td>
				<td><a href="{% url 'submission' submission.pk %}">{{ submission.created |date:"N j, Y" }}</a></td>
				<!--<td><a href="{% url 'submission' submission.pk %}">{{ submission.comment }}</a></td>-->
				<td><a href="{% url 'submission' submission.pk %}">{{ submission.is_processed }}</a></td>
				<td><a href="{% url 'submission' submission.pk %}">{{ submission.player_name }}</a></td>
				<td><a href="{% url 'submission' submission.pk %}">{{ submission.player_user_id }}</a></td>
				<td><a href="{% url 'submission' submission.pk %}">{{ submission.player_account_id }}</a></td>
				<td><a href="{% url 'submission' submission.pk %}">{{ submission.binary_version }}</a></td>
				<td><a href="{% url 'submission' submission.pk %}">{{ submission.get_nonblank_count }}</a></td>
				<td><a href="{% url 'submission' submission.pk %}">{{ submission.get_count }}</a></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}