{% extends "base.html" %}
{% load mathfilters %}
{% load tags %}
{% block title %}Results for '{{ query }}'{% endblock title %}
{% block content %}
<style>
td > a:first-child {
	display: block;
	text-decoration: none;
	color: inherit;
	z-index: 0;
	padding: .5rem !important;
}
td > a:first-child:focus {
	outline: 0;
}
td {
	padding: 0px !important;
}
tr:hover, tr:focus-within {
	background: #f2f3ff;
	outline: none;
}
</style>
<div class="row">
	<p class="lead">Showing results for {{ query }}</p>
</div>
<div class="row">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Last record update</th>
				<th>Downloads</th>
				<th>Likes</th>
				<th>Difficulty</th>
				<th>Stars</th>
				<th>Username</th>
				<th>Data Available</th>
			</tr>
		</thead>
		<tbody>
		{% for level in level_records %}
			{% with level.levelrecord_set.all|first as record %}
			<!-- onclick="window.location='{% url 'level' level.online_id %}';" -->
			<tr>
				<td><a href="{% url 'level' level.online_id %}">{{ level.online_id }}</a></td>
				<td><a href="{% url 'level' level.online_id %}" tabindex="-1">{{ record.level_name }}</a></td>
				<td><a href="{% url 'level' level.online_id %}" tabindex="-1">{{ level.oldest_created|date:"N j, Y" }}</a></td>
				<td><a href="{% url 'level' level.online_id %}" tabindex="-1">{{ level.downloads }}</a></td>
				<td><a href="{% url 'level' level.online_id %}" tabindex="-1">{{ level.likes }}</a></td>
				<td><a href="{% url 'level' level.online_id %}" tabindex="-1">{% difficulty level.rating_sum level.rating level.demon level.auto level.demon_type %}</a></td>
				<td><a href="{% url 'level' level.online_id %}" tabindex="-1">{{ level.stars }}</a></td>
				<td><a href="{% url 'level' level.online_id %}" tabindex="-1">{{ record.username }}</a></td>
				<td><a href="{% url 'level' level.online_id %}" tabindex="-1">{% if level.level_string %}✅{% else %}❌{% endif %}</a></td>
			</tr>
			{% endwith %}
		{% endfor %}
		</tbody>
	</table>
</div>
<div class="row">
	<p class="align-center">

		<a href="?q={{ query }}&p={{ page|sub:1 }}" class="btn btn-danger {% if page == minimum_page_button %}disabled{% endif %}" role="button">&lt;</a>
		{% for button in page_buttons %}
			<a href="?q={{ query }}&p={{ button }}" class="btn {% if button == page %}btn-primary{% else %}btn-light{% endif %}" role="button">{{ button }}</a>
		{% endfor %}
		<a href="?q={{ query }}&p={{ page|add:1 }}" class="btn btn-danger {% if page == maximum_page_button %}disabled{% endif %}" role="button">&gt;</a>
	</p>
</div>
<!-- {{ level.pk }} -->
{% endblock %}