{% extends "base.html" %}
{% load mathfilters %}
{% load tags %}
{% block title %}Results for '{{ query }}'{% endblock title %}
{% block content %}
<style>
td > a:first-child {
	display: block;
	text-decoration: none;
	color: inherit;
	z-index: 0;
	padding: .5rem !important;
}
td > a:first-child:focus {
	outline: 0;
}
td {
	padding: 0px !important;
}
tr:hover, tr:focus-within {
	background: #f2f3ff;
	outline: none;
}
</style>
<div class="row">
	{% if needs_revalidation %}
	  <div class="alert alert-info" role="alert">
	    Search revalidation in progress, search results may be incomplete
	  </div>
	{% endif %}
	<p class="lead">{% if query %}Showing results for {{ query }}{% else %}Showing all levels{% endif %}</p>
	<p>(approx. {{ count }} results){%if query.isnumeric %} <a href="{% url 'level' query %}">See level {{ query }}</a>{% endif %}</p>
</div>
<div class="row">
	<div class="card">
		<div class="card-body">
			<p class="lead">Filters</p>
			<form>
				<p>
					<div class="form-check form-check-inline">
						<input type="checkbox" class="form-check-input" id="deletedCheck" {% if filters|get_item:"deleted" %}checked{% endif %} onchange="window.location.href = '?p=1{% print_filters_toggled filters 'deleted' %}' ">
						<label class="form-check-label" for="deletedCheck">Deleted only</label>
					</div>
					<div class="form-check form-check-inline">
						<input type="checkbox" class="form-check-input" id="playableCheck" {% if filters|get_item:"playable" %}checked{% endif %} onchange="window.location.href = '?p=1{% print_filters_toggled filters 'playable' %}' ">
						<label class="form-check-label" for="playableCheck">Playable only</label>
					</div>
				</p>
				<div class="collapse" id="collapseFilters">
					<p>
						<div class="form-check-inline">
							<select class="form-select form-select-inline" aria-label="Difficulty" id="difficulty">
								<option selected>Difficulty</option>
								<option value="-1">N/A</option>
								<option value="1">Auto</option>
								<option value="2">Easy</option>
								<option value="3">Normal</option>
								<option value="4">Hard</option>
								<option value="5">Harder</option>
								<option value="6">Insane</option>
								<option value="7">Demon</option>
								<option value="8">Easy Demon</option>
								<option value="9">Medium Demon</option>
								<option value="10">Hard Demon</option>
								<option value="11">Insane Demon</option>
								<option value="12">Extreme Demon</option>
							</select>
						</div>
						<div class="form-check form-check-inline">
							<input type="checkbox" class="form-check-input" id="ratedCheck" {% if filters|get_item:"rated" %}checked{% endif %} onchange="window.location.href = '?p=1{% print_filters_toggled filters 'rated' %}' ">
							<label class="form-check-label" for="ratedCheck">Star only</label>
						</div>
						<div class="form-check form-check-inline">
							<input type="checkbox" class="form-check-input" id="unratedCheck" {% if filters|get_item:"unrated" %}checked{% endif %} onchange="window.location.href = '?p=1{% print_filters_toggled filters 'unrated' %}' ">
							<label class="form-check-label" for="unratedCheck">No Star</label>
						</div>
						<div class="form-check form-check-inline">
							<input type="checkbox" class="form-check-input" id="undeletedCheck" {% if filters|get_item:"undeleted" %}checked{% endif %} onchange="window.location.href = '?p=1{% print_filters_toggled filters 'undeleted' %}' ">
							<label class="form-check-label" for="undeletedCheck">Not Deleted</label>
						</div>
						<div class="form-check form-check-inline">
							<input type="checkbox" class="form-check-input" id="unplayableCheck" {% if filters|get_item:"unplayable" %}checked{% endif %} onchange="window.location.href = '?p=1{% print_filters_toggled filters 'unplayable' %}' ">
							<label class="form-check-label" for="unplayableCheck">Not Playable</label>
						</div>
						<div class="form-check form-check-inline">
							<input type="checkbox" class="form-check-input" id="wasratedCheck" {% if filters|get_item:"wasrated" %}checked{% endif %} onchange="window.location.href = '?p=1{% print_filters_toggled filters 'wasrated' %}' ">
							<label class="form-check-label" for="wasratedCheck">Was rated</label>
						</div>
						<div class="form-check form-check-inline">
							<input type="checkbox" class="form-check-input" id="wasnotratedCheck" {% if filters|get_item:"wasnotrated" %}checked{% endif %} onchange="window.location.href = '?p=1{% print_filters_toggled filters 'wasnotrated' %}' ">
							<label class="form-check-label" for="wasnotratedCheck">Was never rated</label>
						</div>
						<div class="form-check form-check-inline">
							<input type="checkbox" class="form-check-input" id="featuredCheck" {% if filters|get_item:"featured" %}checked{% endif %} onchange="window.location.href = '?p=1{% print_filters_toggled filters 'featured' %}' ">
							<label class="form-check-label" for="featuredCheck">Featured</label>
						</div>
						<div class="form-check form-check-inline">
							<input type="checkbox" class="form-check-input" id="unfeaturedCheck" {% if filters|get_item:"unfeatured" %}checked{% endif %} onchange="window.location.href = '?p=1{% print_filters_toggled filters 'unfeatured' %}' ">
							<label class="form-check-label" for="unfeaturedCheck">Not featured</label>
						</div>
						<div class="form-check form-check-inline">
							<input type="checkbox" class="form-check-input" id="negativefeaturedCheck" {% if filters|get_item:"negativefeatured" %}checked{% endif %} onchange="window.location.href = '?p=1{% print_filters_toggled filters 'negativefeatured' %}' ">
							<label class="form-check-label" for="negativefeaturedCheck">Negative featured value</label>
						</div>
					</p>
				</div>
				<a data-bs-toggle="collapse" href="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters">
					Additional filters
				</a>
			</form>
		</div>
	</div>
</div>
<div class="row mt-2">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>{% print_search_th filters 'id' True 'ID' %}</th>
				<th>{% print_search_th filters 'name' True 'Name' %}</th>
				<th>{% print_search_th filters 'last_seen' True 'Last record update' %}</th>
				<th>{% print_search_th filters 'downloads' False 'Downloads' True %}</th>
				<th>{% print_search_th filters 'likes' True 'Likes' %}</th>
				<th>{% print_search_th filters 'difficulty' True 'Difficulty' %}</th>
				<th>{% print_search_th filters 'username' True 'Creator' %}</th>
				<th>{% print_search_th filters 'versions' True 'Data Available' %}</th>
			</tr>
		</thead>
		<tbody>
		{% for level in level_records %}
			<!-- onclick="window.location='{% url 'level' level.online_id %}';" -->
			<tr>
				<!-- pk: {{ level.pk }} -->
				<td><a href="{% url 'level' level.online_id %}">{{ level.online_id }}</a></td>
				<td><a href="{% url 'level' level.online_id %}" tabindex="-1">{{ level.cache_level_name }}</a></td>
				<td><a href="{% url 'level' level.online_id %}" tabindex="-1">{% timestamp_to_printable_date level.cache_submitted_timestamp %}</a></td>
				<td><a href="{% url 'level' level.online_id %}" tabindex="-1">{{ level.cache_downloads }}</a></td>
				<td><a href="{% url 'level' level.online_id %}" tabindex="-1">{{ level.cache_likes }}</a></td>
				<td><a href="{% url 'level' level.online_id %}" tabindex="-1">{% difficulty level.cache_rating_sum level.cache_rating level.cache_demon level.cache_auto level.cache_demon_type %} ({% display_number level.cache_stars %}*{% if level.cache_max_stars > level.cache_stars %}/{{ level.cache_max_stars}}*{% endif %})</a></td>
				<td><a href="{% url 'level' level.online_id %}" tabindex="-1">{% if level.cache_username %}{{ level.cache_username }}{% else %}-{% endif %}</a></td>
				<td><a href="{% url 'level' level.online_id %}" tabindex="-1">{% if level.cache_level_string_available %}✅ {% if level.cache_available_versions > 0 %}({{level.cache_available_versions}}x){% endif %} {% if level.cache_needs_updating %}(old){% endif %}{% else %}❌{% endif %}</a></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>

<script>
document.getElementById('difficulty').addEventListener('change', function() {
	window.location.href = '?p=1{% print_filters_without filters 'difficulty' %}&difficulty=' + this.value
});
</script>

<div class="row">
	<p class="align-center">
		<a href="?p={{ page|sub:1 }}{% print_filters filters %}" class="btn btn-danger {% if page == minimum_page_button %}disabled{% endif %}" role="button">&lt;</a>
		{% for button in page_buttons %}
			<a href="?p={{ button }}{% print_filters filters %}" class="btn {% if button == page %}btn-primary{% else %}btn-light{% endif %}" role="button">{{ button }}</a>
		{% endfor %}
		<a href="?p={{ page|add:1 }}{% print_filters filters %}" class="btn btn-danger {% if page == maximum_page_button %}disabled{% endif %}" role="button">&gt;</a>
	</p>
</div>
<!-- {{ level.pk }} -->
{% endblock %}