{% extends "base.html" %}
{% block content %}
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="mb-3">
    <label for="file" class="form-label">Upload save file</label>
    <input class="form-control" type="file" id="file" name="file">
  </div>
  <div class="mb-3">
    <label for="time" class="form-label">Enter creation date</label>
    <input class="form-control" type="text" id="time" name="time">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}