{% extends "base.html" %}
{% block title %}Submit{% endblock title %}
{% block content %}
<div class="row justify-content-md-center">
	<div class="col mb-3 col-lg-9">
    <p><b>Related pages: </b><a href="{% url 'my_submissions' %}">My Submissions</a> | <a href="{% url 'my_manuals' %}">My Manuals</a> | <a href="{% url 'upload' %}">Submit Save File</a></p>
    <p></p>
		<div class="card">
			<div class="card-header lead">
				Manual Submission File Submitter
			</div>
			<div class="card-body">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="mb-3">
            <label for="file" class="form-label">Upload file</label>
            <input class="form-control" type="file" id="file" name="file">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}